
@{
    ViewBag.Title = "Portfolio";
}

<div id="hero" class="home">

    <div class="container">
        <div class="hero-content">
            <h1 class="im">Portfolio <span class="typed"></span></h1>
            <p class="typed-items" data-typed-person="">PROJECT 1<span class="im"> | </span>PROJECT 2<span class="im"> | </span>PROJECT<span class="im"> | </span>PROJECT 4<span class="im"> | </span>PROJECT 5<span class="im"> | </span>PROJECT 6<span class="im"> | </span>PROJECT 7</p>

            <ul class="list-unstyled list-social">
                <li><a href="@Url.Action("Index","Home")" class="smoothScroll">Home</a></li>
                <li><a href="@Url.Action("Resume","Home")" smoothScroll">Resume</a></li>
                <li><a href="@Url.Action("Portfolio","Home")" class="smoothScroll">Portfolio</a></li>
                <li><a href="@Url.Action("Classmates","Home")" class="smoothScroll">Classmates</a></li>
                <li><a href="@Url.Action("Contact","Home")" class="smoothScroll">Contact</a></li>
            </ul>
        </div>
    </div>
</div><!-- End Hero -->
<main id="main">
    <div id="services">
        <div class="container">

            <div class="services-carousel owl-theme">

                <div class="services-block">

                    <i class="ion-ios-browsers-outline"></i>
                    <span>WEB DEVELOPMENT</span>
                    <p class="separator">HTML5, CSS3, JavaScript, Repsonsive Design.  </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-lightbulb-outline"></i>
                    <span>TESTING</span>
                    <p class="separator">Breaking things, debugging and fixing them. </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-color-wand-outline"></i>
                    <span>GIT HUB</span>
                    <p class="separator">Backing up work and pushing to repositories. </p>

                </div>

                <div class="services-block">

                    <i class="ion-social-android-outline"></i>
                    <span>MOBILE APPS</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-analytics-outline"></i>
                    <span>BACK END BASICS</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-camera-outline"></i>
                    <span>PHOTOGRAPHY</span>
                    <p class="separator">A skillset I would love to pick up this year. </p>

                </div>

            </div>

        </div>

    </div><!--End Services Section-->
</main>
<!--Then Footer Then Credits-->
