
@{
    ViewBag.Title = "Resume";
}

<div id="hero" class="home">

    <div class="container">
        <div class="hero-content">
            <h1 class="im">I HAVE  <span class="typed"></span></h1>
            <p class="typed-items" data-typed-person="GRADUATED CENTRIQ TRAINING">BEEN A COFFEE ROASTER <span class="im"> | </span> 4 YEARS, BEEN A TEAM MANAGER <span class="im"> | </span> 7 YEARS, BEEN A BARISTA TRAINER<span class="im"> | </span> 7 YEARS, LED ROADS TO SUCCUSS.</p>

            <ul class="list-unstyled list-social">
                <li><a href="@Url.Action("Index","Home")" class="smoothScroll">Home</a></li>
                <li><a href="@Url.Action("Resume","Home")" class="smoothScroll">Resume</a></li>
                <li><a href="@Url.Action("Portfolio","Home")" class="smoothScroll">Portfolio</a></li>
                <li><a href="@Url.Action("Classmates","Home")" class="smoothScroll">Classmates</a></li>
                <li><a href="@Url.Action("Contact","Home")" class="smoothScroll">Contact</a></li>
            </ul>
        </div>
    </div>
</div><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
        <!-- TODO: Resume carosel -->

        <div class="card-carousel">

            <div class="my-card">
                <img class="resumepic img-responsive thumb" src="~/Content/assets/img/Jordan Hickman Resume IT-2.png" />
            </div>

            <div class="my-card">

                <img class="resumepic img-responsive thumb" src="~/Content/assets/img/Jordan Hickman Resume IT-1.png" />
            </div>

            <div class="my-card">
                <img class="resumepic img-responsive thumb" src="~/Content/assets/img/Jordan Hickman Resume IT-3.png" />
            </div>
        </div>
    </div><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <div id="services">
        <div class="container">

            <div class="services-carousel owl-theme">

                <div class="services-block">

                    <i class="ion-ios-browsers-outline"></i>
                    <span>UI/UX DESIGN</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-lightbulb-outline"></i>
                    <span>BRAND IDENTITY</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-color-wand-outline"></i>
                    <span>WEB DESIGN</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-social-android-outline"></i>
                    <span>MOBILE APPS</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-analytics-outline"></i>
                    <span>Analytics</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

                <div class="services-block">

                    <i class="ion-ios-camera-outline"></i>
                    <span>PHOTOGRAPHY</span>
                    <p class="separator">To an English person, it will seem like simplified English,told me what </p>

                </div>

            </div>

        </div>

    </div><!-- End Services Section -->
</main><!--End Main-->


@section scripts {
    <script>
        $num = $('.my-card').length;

        $even = $num / 2;

        $odd = ($num + 1) / 2;



        if ($num % 2 == 0) {

            $('.my-card:nth-child(' + $even + ')').addClass('active');

            $('.my-card:nth-child(' + $even + ')').prev().addClass('prev');

            $('.my-card:nth-child(' + $even + ')').next().addClass('next');

        } else {

            $('.my-card:nth-child(' + $odd + ')').addClass('active');

            $('.my-card:nth-child(' + $odd + ')').prev().addClass('prev');

            $('.my-card:nth-child(' + $odd + ')').next().addClass('next');

        }



        $('.my-card').click(function () {

            $slide = $('.active').width();

            console.log($('.active').position().left);



            if ($(this).hasClass('next')) {

                $('.card-carousel').stop(false, true).animate({ left: '-=' + $slide });

            } else if ($(this).hasClass('prev')) {

                $('.card-carousel').stop(false, true).animate({ left: '+=' + $slide });

            }



            $(this).removeClass('prev next');

            $(this).siblings().removeClass('prev active next');



            $(this).addClass('active');

            $(this).prev().addClass('prev');

            $(this).next().addClass('next');

        });

        // Keyboard nav

        $('html body').keydown(function (e) {

            if (e.keyCode == 37) {// left

                $('.active').prev().trigger('click');

            }

            else if (e.keyCode == 39) {// right

                $('.active').next().trigger('click');

            }

        });
    </script>

}